<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Clientes
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-success" routerLink="/cliente"> Novo</a>
                </div>
            </div>
        </div>

        <div class="card-body">

           
            <table class="table table-responsive table-striped ">
                <thead>
                    <tr>
                        <th>Nome Completo</th>
                        <th>Nome Resumido</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Nascimento</th>
                        <th>Documento</th>
                        <th>IE/RG</th>
                        <th>#</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let cliente of this.clientes">
                        <td>{{cliente.nomeCompleto}}</td>
                        <td>{{cliente.nomeResumido}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.telefone}}</td>
                        <td>{{cliente.dataNascFund  | date: 'dd/MM/yyyy'}}</td>
                        <td>{{cliente.documento}}</td>
                        <td>{{cliente.rgIe}}</td>
                        <td>
                            <a type="button" class="btn btn-warning" [routerLink]="['/cliente', cliente.id]">Editar</a>
                            <button type="button" (click)="remover(1)" class="btn btn-danger" style="margin-left: 10px;">Remover</button>
                        </td>
                    </tr>

                </tbody>


            </table>
        </div>
    </div>
</div>